body {
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

/* Menu */

#menu a {
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}

#menu button {
  font-size: 18px;
  font-weight: bold;
}

/* Intro */
.introduccion {
  text-align: justify;
}

/* Imagenes */

.carousel-inner {
  max-height: 40rem;
}

/* Para Pantallas Medias */

@media (max-width:768px) {
  #intro, #equipo {
    width: 90% !important;
  }

  #equipo p {
    display: none;
  }
  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }
  #bg-contacto {
    top:-110px;
  }
}


/* Para Pantallas Pequeñas */

@media (max-width: 576px) {
  .icono-wrap{
    flex-wrap: wrap;
    justify-content: center !important;
  }

  #bg-contacto {
    position: relative;
    top: -130px;
  }
  
}

.text-bg-danger {
  color: #fff !important;
  background-color: RGBA(var(--bs-danger-rgb),var(--bs-bg-opacity,1)) !important;
}

/* Formulario */

#bg-contacto {
  position:relative;
  top:-130px;
}

#seccion-contacto {
  background-color: #1b2a4e;
  min-height: 500px;
  position: relative;
}

#contenedor-formulario {
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);
  background: #fbfafa;
  border-radius:5px;
  max-width:500px;
}

#titulo-formulario {
  color: #3f3f3f;
}

/* Footer */
footer {
  background: #1b2a4e;
  min-height:100px;
}
footer p {
  color:#3f3f3f;
  text-align:center;
}

#iconos i {
  font-size:26px;
  padding: 0 8px;
  color:#3f3f3f;
}
